@import "assets/css/common";

.container {

  .map {
    width: 100%;
    height: 560rpx;
  }

  .content {
    position: relative;
  }

  .con {
    position: absolute;
    top: 300rpx;
    left: 0;
    right: 0;
    padding-bottom: 60rpx;
  }

  .sec1 {
    margin: 22rpx 24rpx 0 24rpx;
    padding-bottom: 20rpx;

    .destination {
      display: flex;
      align-items: center;
      padding: 42rpx 0 0 36rpx;

      .l {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 22rpx;
        height: 90rpx;

        .dash-line {
          width: 22rpx;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAALCAYAAAC6ezfSAAAACXBIWXMAAAuJAAALiQE3ycutAAAANElEQVQImWP8//8/AwywHDtxWpqBgaGOgYHhDgsDA4MQAwNDGgMDwxEmBiRAMYcR2VIUGQBU0gsdg3ZW9QAAAABJRU5ErkJggg==');
          background-repeat: repeat-y;
          background-position: top center;
          background-size: 3rpx 11rpx;
          flex-grow: 1;
          margin: 2rpx 0;
        }

        .mark {
          width: 26rpx;
          height: 26rpx;
          border-radius: 50%;
        }

        .mark-blue {
          background: @blue-bg;
        }

        .mark-orange {
          background: #f7a10c;
        }
      }

      .r {
        margin-left: 24rpx;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90rpx;

        .loc {
          font-size: @font-30;
        }
      }
    }

    .tip {
      font-size: @font-26;
      margin: 30rpx 0 45rpx 42rpx;
    }

    .time-l {
      color: @text-color-gray;
      padding-left: 42rpx;
      display: flex;
      align-items: center;
      margin-bottom: 34rpx;

      .time {
        font-size: @font-26;
      }

      .clock, .tickets {
        margin-right: 22rpx;
        width: 26rpx;
      }

    }
  }

  .sec2 {
    margin: 22rpx 24rpx 0 24rpx;
    padding: 36rpx;

    .title {
      font-size: @font-34;
      margin-bottom: 22rpx;
    }

    .l {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 28rpx;

      .left {
        color: @text-color-gray;
        font-size: @font-30;
      }

      .right {
        color: @text-color-gray;
        font-size: @font-30;

        .orange {
          color: @text-color-orange;
        }
      }
    }

    .sum {
      border-top: solid 1rpx @border-gray;
      padding: 20rpx;
      color: @text-color-orange;
      font-size: @font-36;
      text-align: center;
    }
  }

  .btn-group {
    margin-top: 60rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .btn {
      border-radius: 8rpx;
      width: 266rpx;
      height: 66rpx;
      text-align: center;
      line-height: 66rpx;
      color: #ffffff;
      font-size: @font-36;
    }

    .gray-btn {
      background-color: #cfd2d5;
    }

    .primary-btn {
      background-color: @blue-bg;
    }
  }
}
