@import "../../assets/css/common";

page {
  .top {
    position: relative;

    .swiper-wrapper {
      //margin-bottom: 20rpx;
      box-sizing: border-box;

      .swiper-image {
        width: 100%;
      }
    }

    .map {
      width: 750rpx;
      height: 500rpx;
    }

    .shield {
      background: #ffffff;
      border-radius: 16rpx;
      position: absolute;
      right: 22rpx;
      top: 500rpx;
      width: 64rpx;
      height: 62rpx;
    }

    .position {
      background: #ffffff;
      border-radius: 16rpx;
      position: absolute;
      right: 22rpx;
      top: 580rpx;
      width: 64rpx;
      height: 62rpx;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img {
      width: 100%;
      height: 100%;
    }

    .img-position {
      width: 40rpx;
    }
  }


  .middle {
    position: relative;
    top: -64rpx;

    .tab {
      background-image: url('http://s1dkzsmpj.hb-bkt.clouddn.com/outer/cus_tab1.png');
      margin-left: 24rpx;
      width: 610rpx;
      height: 58rpx;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        width: 33%;
        text-align: center;
      }
    }

    .content {
      margin: -2px 24rpx 0 24rpx;
      height: 230rpx;
      background: #ffffff;
      border-radius: 20rpx;
      border-top-left-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;


      .line1 {
        height: 66rpx;
        display: flex;
        align-items: center;
        padding-left: 68rpx;
        font-size: @font-28;

        .dot {
          margin-right: 24rpx;
          width: 25rpx;
          height: 25rpx;
        }

        .item2 {
          color: @blue-font;
          font-size: @font-26;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .item3 {
          margin-left: 24rpx;
          margin-right: 34rpx;
          width: 11rpx;
          height: 21rpx;
        }

        image {
          width: 100%;
          height: 100%;
        }
      }

      .line2 {
        height: 66rpx;
        position: relative;
        margin: 0 40rpx;
        background: #e9effd;
        border-radius: 8rpx;
        font-size: @font-26;

        .dot {
          width: 25rpx;
          height: 25rpx;
          position: absolute;
          left: 28rpx;
          top: 21rpx;
          bottom: 21rpx;
        }

        .des {
          height: 100%;
          margin-left: 75rpx;
        }
      }
    }
  }

  #van-toast {
    --toast-max-width: 85%;
  }
}



