@import "../../assets/css/common";

page {
  .top {
    position: relative;

    .avatar-wrapper {

      padding-left: 20px;
    }

    .avatar {
      display: flex;
      align-items: center;

      image {
        border-radius: 50%;
      }

      .city {
        margin: 0 10rpx;
        font-size: @font-30;
      }

      .arrow {
        font-size: @font-28;
        font-weight: bold;
      }
    }

    .map {
      width: 750rpx;
      //height: 500rpx;
      height: 700rpx;
    }

    .shield {
      background: #ffffff;
      border-radius: 16rpx;
      position: absolute;
      right: 22rpx;
      top: 320rpx;
      width: 64rpx;
      height: 62rpx;
    }

    .position {
      background: #ffffff;
      border-radius: 16rpx;
      position: absolute;
      right: 22rpx;
      top: 400rpx;
      width: 64rpx;
      height: 62rpx;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .img {
      width: 100%;
      height: 100%;
    }

    .img-position {
      width: 40rpx;
    }
  }

  .ma {
    width: 100%;
  }

  .mv {
    width: 100%;
    padding-bottom: 30rpx;
  }

  movable-view {
    pointer-events: auto;
  }

  movable-area {
    pointer-events: none;
  }

  .card-p {
    position: relative;
  }

  .card1 {
    position: absolute;
    left: 0;
    right: 0;
    background: @page-bg-gray;
    //padding-top: 30rpx;
    border-radius: 16rpx;
  }

  .middle {
    margin-bottom: 12px;
    background: @page-bg-gray;

    .content {
      position: relative;
      margin: -244rpx 24rpx 0 24rpx;
      height: 230rpx;
      background: #ffffff;
      border-radius: 16rpx;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;


      .line1 {
        position: relative;
        z-index: 200;
        height: 66rpx;
        display: flex;
        align-items: center;
        padding-left: 68rpx;
        font-size: @font-28;

        .dot {
          margin-right: 24rpx;
          width: 25rpx;
          height: 25rpx;
          flex-shrink: 0;
          flex-grow: 0;
        }

        .item2 {
          color: @blue-font;
          font-size: @font-28;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .item3 {
          margin-left: 24rpx;
          margin-right: 38rpx;
          width: 11rpx;
          height: 21rpx;
        }

        image {
          width: 100%;
          height: 100%;
        }
      }

      .line2 {
        z-index: 200;
        position: relative;
        height: 66rpx;
        margin: 0 40rpx;
        background: #e9effd;
        border-radius: 8rpx;
        font-size: @font-26;

        .dot {
          width: 25rpx;
          height: 25rpx;
          position: absolute;
          left: 28rpx;
          top: 21rpx;
          bottom: 21rpx;
        }

        .des {
          height: 100%;
          margin-left: 75rpx;
          font-size: @font-34;
        }
      }
    }

    .bg-car-container {
      //position: absolute;
      //left: -12rpx;
      //right: -12rpx;
      //top: -100rpx;
      //z-index: 100;
      box-sizing: border-box;
      position: relative;
      margin: 0 12rpx 0 12rpx;
    }

    .bg-car {
      width: 100%;
    }
  }

  .swiper-wrapper {
    box-sizing: border-box;
    margin-bottom: 12px;
    border: 1rpx solid #fff;

    swiper {
      height: 100px;
    }

    .swiper-image {
      display: block;
      border-radius: 16rpx;
      width: 100%;
    }
  }

  .items-wrapper {

    .items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 40rpx;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25%;
        height: 90rpx;
        margin-bottom: 40rpx;

        .t {
          font-size: @font-26;
        }
        image{
          width: 60rpx;
          height: 39rpx;
        }
        //image.dedicatedLine {
        //  width: 60rpx;
        //  height: 39rpx;
        //}
        //
        //image.goodsDelivery {
        //  width: 60rpx;
        //  height: 39rpx;
        //}
        //
        //image.order {
        //  width: 36rpx;
        //  height: 42rpx;
        //}
        //
        //image.red_car {
        //  width: 60rpx;
        //  height: 39rpx;
        //}
        //
        //image.coupons {
        //  width: 60rpx;
        //  height: 39rpx;
        //}
        //
        //image.passenger {
        //  width: 43rpx;
        //  height: 45rpx;
        //}

      }
    }
  }

  .schedule-type {
    padding: 24rpx 24rpx 16rpx 24rpx;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: @font-32;

        .szs-hangcheng {
          font-size: 42rpx;
          margin-right: 6rpx;
          color: orangered;
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .label-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 1;

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            margin: 0 24rpx;

            .label {
              font-size: @font-30;
              color: @text-color-gray;
              margin-bottom: 6rpx;
              text-align: center;
            }

            .selected {
              color: @blue-bg;
            }
          }
        }

        .divider {
          width: 100%;
          height: 1rpx;
          //background: @border-gray;
          background: transparent;

          .slider-p {
            width: 50%;
            height: 4rpx;
            background: transparent;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: center;

            .slider {
              width: 50%;
              height: 4rpx;
              background: @blue-bg;
              transition: .3s;
            }
          }
        }
      }
    }

    .content {
      margin-top: 24rpx;

      .swiper-item {
        position: relative;
        background: rgb(241, 245, 249);
        border-radius: 8rpx;
        padding: 16rpx 32rpx;
        overflow: hidden;

        .status {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 120rpx;
          height: 50rpx;
          color: #ffffff;
          font-size: @font-30;
          font-weight: bold;
          background: @blue-bg;
          text-align: center;
          line-height: 50rpx;

        }

        .line {
          display: flex;
          align-items: center;
          line-height: 1.9;
          color: @text-color-gray;
          font-size: @font-30;

          .img {
            margin-right: 12rpx;
            width: 32rpx;
            flex-shrink: 0;
          }

          .icon {
            flex-shrink: 0;
            margin-right: 12rpx;
            font-size: 32rpx;
            color: @blue-bg;
          }
        }
      }
    }
  }

  #van-toast {
    --toast-max-width: 85%;
  }
}



