/**app.wxss**/
@import "assets/css/common";

page {
  background: #f1f4f9;
}

view {
  color: @text-color-default;
  font-size: 24rpx;
}

.container {

}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  color: transparent;
}
