/**app.wxss**/
@import "assets/css/common";

page {
  background: #f1f4f9;
}

view {
  color: @text-color-default;
  font-size: 24rpx;
}

.container {

}

::-webkit-scrollbar {
  //display: none;
  //width: 0;
  //height: 0;
  color: transparent;
}

button[type=primary] {
  background-color: @blue-bg !important;
}

.sec {
  border-radius: 16rpx;
  background-color: #ffffff;
  margin-left: 24rpx;
  margin-right: 24rpx;
}
.van-nav-bar__text{
  font-size: @font-32;
}
