@import "assets/css/common";

.container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 8rpx;
    background: #ffffff;
    height: 80rpx;
    line-height: 80rpx;
    padding: 0 24rpx;

    .item {
      color: @text-color-gray;
      text-align: center;
      font-size: @font-28;
    }

    .item.item-selected {
      color: @text-color-default;
    }
  }

  .empty-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .empty {
      margin-top: 230rpx;
      width: 184rpx;
      height: 168rpx;
    }
  }

  .list-wrapper {
    .item {
      margin: 20rpx 24rpx 0 24rpx;
      border-radius: 16rpx;
      background: white;
      padding: 20rpx;

      .h {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1rpx @border-gray solid;
        padding-top: 10rpx;
        padding-bottom: 10rpx;
        height: 50rpx;
        line-height: 50rpx;

        .t1 {
          font-size: @font-32;
        }

        .l {
          display: flex;
          align-items: center;

          .car {
            width: 50rpx;
            margin-right: 16rpx;
          }
        }
      }

      .lc {
        display: flex;
        align-items: center;
        margin: 10rpx 0;
        line-height: 60rpx;
        height: 60rpx;

        .icon {
          width: 36rpx;
          flex-shrink: 0;
          margin-right: 16rpx;
        }

        .t2 {
          font-size: @font-30;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .bottom-divider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
