@import "assets/css/common";
//@import "assets/icon-font/iconfont.wxss";
@import "../../assets/icon-font/iconfont.wxss";


.container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;

  .custom-nav {
    --nav-bar-text-color: init;
    --nav-bar-icon-color: init;
  }

  .nav {
    display: flex;
    align-items: center;
    padding-top: 30rpx;
    padding-left: 24rpx;

    .back {
      width: 15rpx;
      margin-right: 12rpx;
    }

    .t {
      font-size: @font-32;
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //height: 80rpx;
    //line-height: 80rpx;
    //padding: 0 22rpx;
    //border-bottom: 1rpx solid @border-gray;
    .m {
      flex-grow: 1;
      position: relative;
      margin: 18rpx 28rpx 26rpx 28rpx;
      background: #f7f8fa;
      height: 74rpx;
      display: flex;
      align-items: center;
      border-radius: 8rpx;

      .input {
        font-size: @font-32;
        padding-left: 55rpx;
        width: 100%;
      }

      .placeholder-style {
        font-size: @font-32;
        color: @text-color-gray1;
      }

      .search-icon {
        font-size: @font-36;
        position: absolute;
        left: 12rpx;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .r {
      width: 110rpx;
      padding: 10rpx 0;
      font-size: @font-32;
    }
  }

  .map {
    height: 600rpx;
  }

  .s1 {
    margin: 0 40rpx;
  }

  .rec {
    font-size: @font-36;
    display: flex;
    align-items: center;
    padding-bottom: 20rpx;

    .t1 {
      margin-left: 12rpx;
      font-size: @font-32;
      color: @text-color-gray2;
    }
  }

  .s-wrapper {
    padding-bottom: 6rpx;
    box-sizing: border-box;
  }

  .l-wrapper {
    border-top-left-radius: 60rpx;
    border-top-right-radius: 60rpx;
    margin-top: -30px;
    background: white;
    position: relative;
  }


  .rec-region {
    .region {
      font-size: @font-26;
      background: @blue-bg;
      color: white;
      padding: 8rpx 20rpx;
      border-radius: 24rpx;
      text-align: center;
      width: fit-content;
      margin-top: 20rpx;
      margin-left: 40rpx;
    }
  }

  .rec-item {
    display: flex;
    align-items: center;
    padding: 16rpx 0;

    .r {
      display: flex;
      flex-direction: column;
      margin-left: 12rpx;

      .t1 {
        font-size: @font-32;
        margin-bottom: 6rpx;
      }

      .t2 {
        font-size: @font-28;
        color: @text-color-gray
      }
    }
  }


  .content-wrapper {
    position: relative;

    .confirm {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 10rpx;
      left: 0;
      right: 0;


      .card {
        box-sizing: border-box;
        border-radius: 16rpx;
        width: 90%;
        background: #ffffff;
        margin-bottom: 10rpx;
        padding: 26rpx;

        .l2 {
          margin: 20rpx 0;
          font-size: @font-30;
        }
      }

      .confirm-btn {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 80rpx;
        line-height: 80rpx;
        text-align: center;
        font-size: @font-34;
        font-weight: bold;
        background: @blue-bg;
        color: white;
        border-radius: 30rpx;
      }
    }

  }

  .map {
    width: 100%;
  }

  .list-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background: #ffffff;
    padding: 0 26rpx;

    .item {
      display: flex;
      align-items: center;
      padding: 12rpx 0;

      .img-position {
        width: 30rpx;
        margin-right: 16rpx;
      }

      .r {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        .title {
          font-size: @font-32;
          margin-bottom: 8rpx;
        }

        .add {
          font-size: @font-26;
          color: @text-color-gray;
        }
      }
    }
  }
}
