@import "assets/css/common";

@semi-transparent: rgba(201, 201, 201, 0.59);
page {
  //background: rgba(54, 54, 54, 0.5);
}

.container {
  position: relative;


  .content {
    position: relative;

    .map {
      width: 100%;
    }
  }

  .card {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 22rpx;

    .border {
      padding: 12rpx;
      border: 1rpx solid @border-gray;
      width: 100%;
      background: white;
      border-radius: 16rpx;
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;

      .middle {
        box-sizing: border-box;
        padding: 10rpx 20rpx;
        border-radius: 10rpx;
        font-size: @font-32;
        flex-grow: 1;
      }


      .right {
        box-sizing: border-box;
        width: 100rpx;
        flex-shrink: 0;
        text-align: center;
      }

      .position {
        font-size: @font-36;
        color: @text-color-gray1;
      }

      .position-selected {
        color: @blue-bg;
      }

      .left.item-selected {
        .outer {
          background: @blue-bg;
        }
      }

      .right.item-selected {
        background: @blue-bg;
      }

      .middle.item-selected {
        color: @blue-bg;

        .outer {
          border-color: @border-blue;

          .inner {
            background: @blue-bg;
          }
        }
      }

      .middle:last-child {
        .line {
          display: none
        }
      }

      .left {
        position: relative;
        width: 60rpx;
        height: 100rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        .line {
          position: absolute;
          left: 50%;
          right: 0;
          top: calc(50% + 18rpx);
          bottom: calc(-50% + 19rpx);
          width: 1rpx;
          background: @blue-bg;
          transform: translateX(-50%);
        }


        .outer {
          border-radius: 50%;
          border: solid 1rpx @blue-bg;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30rpx;
          height: 30rpx;

          .inner {
            width: 15rpx;
            height: 15rpx;
            background: @blue-bg;
            border-radius: 50%;
          }
        }
      }


      .outer.selected {
        border: solid 2rpx @border-blue;

        .inner {
          background: @border-blue;
        }
      }
    }

    .item:last-child .left .line {
      display: none;
    }
  }

  .btn-wrapper {
    position: fixed;
    padding-bottom: 2rpx;
    left: 0;
    right: 0;
  }

  .btn {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 80rpx;
    line-height: 80rpx;
    text-align: center;
    font-size: @font-34;
    font-weight: bold;
    background: @blue-bg;
    color: white;
    border-radius: 30rpx;
  }
}
