@page-bg-gray: #f1f4f9;
@blue-font: #1a87f6;
@blue-bg: #1a87f6;
@text-color-default: #333333;
@text-color-green: #09bb07;
@text-color-gray: #999999;
@text-color-orange: #f7800c;
@border-gray: #e5e9eb;

// fontSize
@font-36: 36rpx;
@font-34: 34rpx;
@font-32: 32rpx;
@font-30: 30rpx;
@font-28: 28rpx;
@font-26: 26rpx;
