@import "../../assets/css/common";

.container {
  .top {
    position: relative;
    background-image: url('http://s2z4nayoc.hb-bkt.clouddn.com/outer/me_top_bg.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 50rpx 50rpx 120rpx 50rpx;

    .avatar-wrapper {
      display: flex;
      align-items: center;

      .avatar {
        border-radius: 50%;
        height: 90rpx;
        width: 90rpx;
        margin-right: 24rpx;


        image {
          width: 100%;
          height: 100%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80rpx;

        .line1 {
          font-size: @font-30;
          font-weight: bold;
        }

        .line2 {
          color: @text-color-gray;
          font-size: @font-26;
        }
      }
    }

    .c-wrapper {
      display: flex;
      align-items: center;
      margin-top: 24rpx;

      .item {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 90rpx;
        padding: 10rpx;
        border-radius: 20rpx;
        width: 40%;
        max-width: 260rpx;
        background-image: -moz-linear-gradient(-142deg, rgb(136, 202, 250) 0%, rgb(147, 183, 253) 95%);
        background-image: -webkit-linear-gradient(-142deg, rgb(136, 202, 250) 0%, rgb(147, 183, 253) 95%);
        background-image: -ms-linear-gradient(-142deg, rgb(136, 202, 250) 0%, rgb(147, 183, 253) 95%);

        .img-container {
          width: 70rpx;
          height: 70rpx;
          background: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 30rpx;
        }

        .coupons {
          width: 35rpx;
        }

        .order {
          width: 33rpx;
        }

        .r {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .l1 {
            font-size: @font-30;
            color: white;
            display: flex;
            align-items: center;

            .back {
              width: 30rpx;
              margin-left: 12rpx;
            }
          }

          .l2 {
            font-size: @font-30;
            color: white;
          }
        }
      }


    }
  }

  .list {
    margin-top: -70rpx;
    position: relative;
    z-index: 100;

    .items {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 40rpx;

      .item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100rpx;
        line-height: 100rpx;
        border-bottom: 1rpx solid @border-gray;

        .l {
          display: flex;
          align-items: center;

          image {
            width: 36rpx;
          }
        }

        .icon {
          font-size: 44rpx;
        }

        .arrow {
          color: @text-color-gray;
        }

        .t {
          font-size: @font-34;
          margin-left: 12rpx;
        }
      }

      .item.last {
        border-bottom: none;
      }
    }
  }

  .btn {
    height: 80rpx;
    border-radius: 40rpx;
    line-height: 80rpx;
    //width: 45%;
    text-align: center;
    font-size: @font-32;
    font-weight: bold;
    margin: 40rpx 24rpx 0 24rpx;
    color: #fff;
    background: @blue-bg;
  }

  .pop-wrapper {
    height: 160rpx;
    padding: 30rpx;
    width: 80%;
    min-width: 400rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .hot {
      text-align: center;
      font-size: @font-36;
      color: @text-color-green;
      width: 100%;
      height: 80rpx;
      line-height: 80rpx;
      cursor: pointer;
    }

    .hot:not(:last-of-type) {
      border-bottom: 1rpx solid @border-gray;
    }
  }
}

